@font-face {
	font-family: 'Elms Sans';
	src: url('/static/ElmsSans-Regular.ttf');
	font-weight: normal;
}

@font-face {
	font-family: 'Elms Sans';
	src: url('/static/ElmsSans-Italic.ttf');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Elms Sans';
	src: url('/static/ElmsSans-Bold.ttf');
	font-weight: bold;
}

@font-face {
	font-family: 'Elms Sans';
	src: url('/static/ElmsSans-BoldItalic.ttf');
	font-weight: bold;
	font-style: italic;
}